
<% require 'active_support/all'%>

<% if (@id and @curr) %>
	<div class="main">
     <h3>Hi, <%= @curr.first_name %> <%= @curr.last_name %>! Your get2gethrs!</h3>
  
     <h4>Share, text, email, or tweet the link to your friends to <em>get together</em>!</h4>
  
     <h4 class="url form"><a href="/appts/user/<%=@id%>">www.get2getherplanner/appts/user/<%=@id%></a></h4>
	 
	 <ul class="view form">
		<% if @appts.empty? %>
	  		<li>Sorry, you don't have any get2gethrs yet...</li>
	
	  	<% else %>
		 		<li class="instructions"><b>Get2gethr Name</b>: <em>Date</em> Start time - End time
		 			<small>
		 				Friend: 
		 					<message>message</message>
		 			</small>
		 		</li>
		 	<% @appts.each do |appt| %>
		 		<li>
		 		<% if appt.other and DateTime.strptime(appt.other, "%m/%d/%Y") >= DateTime.now-1 %>
			 		<% if appt.booked %>
			 			<b><%= appt.event_name %></b>: <%= appt.other %> <%= appt.start_time %> - <%= appt.end_time %>
			 			<small>
			 				<%= appt.booker_name %>
			 				<% if appt.booker_message %>: 
			 					<message><%= appt.booker_message %></message>
			 				<%end%>
			 			</small>
			 		<% else %>
			 			<b><%= appt.event_name %></b>: <%= appt.other %> <%= appt.start_time %> - <%= appt.end_time %>
			 			<small class="unbooked">Unbooked</small>
			 		<% end %>
		 		<% else %>
		 			past <%= appt.event_name %>: <%= appt.other %> <%= appt.start_time %> - <%= appt.end_time %>
			 			<small>
			 				<%= appt.booker_name %>
			 				<% if appt.booker_message %>: 
			 					<message><%= appt.booker_message %></message>
			 				<%end%>
			 			</small>
		 		
		 		
		 		<% end %>
		 		</li>
		 	<% end %>
	    <% end %>
	    <li style="margin-bottom: 2%;"><a href="/appts/appt/<%=@id%>">+ Add A Get2gether</a></li>
	 </ul>
	</div>
  
<% end %>
    
